* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 15px;
}
/*Styling for Add button */
.add-btn {
  display: inline-block;
  border: none;
  background-color: #5353c6;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #3939ac;
}
/*Styling for Delete button */
.del-btn {
  background-color: #ff3333;
  border: none;
  border-radius: 50%;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  float: right;
}
.del-btn:hover {
  background-color: #e60000;
}
